{% include 'header.html' %}
<body>
{% include 'menu.html' %}
<div class="event_content">
    <div class="left_panel">
        <h1 class="event_title">Pink Floyd World Tour</h1>
        <div class="line"></div><br>
        <img src="{{ url_for('static', filename='pink.jpg') }}" alt="evento" class="event_image">
        <div class="eventData">
            <p class="data" style="font-size: 1.4em;">DIC 24 - 18:00 hrs.</p>
            <p class="data" style="font-size: 1.4em;">México, Monterrey N.L.</p>
        </div>
        <div class="line"></div><br>
        <div class="event_description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut lectus non est aliquet porttitor sit amet ac justo. Donec ac ex turpis. Proin hendrerit tempor porta. Suspendisse vehicula tortor a metus feugiat aliquam. Nullam sit amet convallis quam, vitae viverra neque. Nulla facilisi. Nulla purus nisl, rutrum vitae posuere ac, vehicula varius nisi...</p>
        </div>
    </div>
    <div class="right_panel">
        <h2 class="buy">¡Aparta tus boletos antes de que se agoten!</h2><br>
        <button class="book">Reservar</button>
    </div>
</div>
{% include 'modal_login.html' %}
{% include 'modal_register.html' %}
{% include 'modal_buy.html' %}
</body>