<div id="menu">
    <div class="tab" onclick="location.href = '/'" style="display: flex; flex-direction: row;">
        <img src="{{ url_for('static', filename='home.png') }}" alt="home" style="height: 30px; width: 30px; margin-left: 50px; margin-top: -5px;">
        <p style="margin-left: 20px;">Inicio</p>
    </div>
    <div class="tab" onclick="location.href = '/concerts'">Conciertos</div>
    <div class="tab" onclick="location.href = '/sports'">Deportes</div>
    <div class="tab" onclick="location.href = '/arts'">Arte y Teatro</div>
    <div class="tab login" id="login">Login</div>
</div>