<div class="modal_register_background">
    <div class="modal" style="height: 60vh;">
        <div class="container">
            <img class="modal_logo" src="{{ url_for('static', filename='logo.jpg') }}" alt="">
            <div class="top-right" id="x_reg">x</div>
        </div>
        <div class="modal_content">
            <form action="" method="post" style="margin-left: 2em;">
                <div style="display: flex; flex-direction: row;">
                    <div>
                        <label for="nombre" class="modal_label" style="font-size: 1.2em;">Nombre</label><br>
                        <input type="text" name="usuario" id="usuario" class="modal_input" style="width: 80%;"><br>
                    </div>
                    <div>
                        <label for="apellidos" class="modal_label" style="font-size: 1.2em;">Apellidos</label><br>
                        <input type="text" name="apellidos" id="apellidos"class="modal_input" style="width: 80%;"><br><br>
                    </div>
                </div>
                <label for="email" class="modal_label" style="font-size: 1.2em;">Correo Electrónico</label><br>
                <input type="email" name="email" id="email" class="modal_input" style="width: 90%;"><br><br>
                <div style="display: flex; flex-direction: row;">
                    <div>
                        <label for="password" class="modal_label" style="font-size: 1.2em;">Contraseña</label><br>
                        <input type="password" name="password" id="password" class="modal_input" style="width: 80%;"><br>
                    </div>
                    <div>
                        <label for="password2" class="modal_label" style="font-size: 1.2em;">Validar Contraseña</label><br>
                        <input type="password" name="password2" id="password2"class="modal_input" style="width: 80%;"><br><br>
                    </div>
                </div><br>
                <div class="btn_container">
                    <input type="submit" value="Registrarse" class="login_btn">
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementsByClassName("text_reg")[0].addEventListener("click", function(){
        document.getElementsByClassName("modal_background")[0].style.display = "none";
        document.getElementsByClassName("modal_register_background")[0].style.display = "flex";
    });
    document.getElementById("x_reg").addEventListener("click", function(){
        document.getElementsByClassName("modal_register_background")[0].style.display = "none";
    });
</script>