{% include 'header.html' %}
<body>
{% include 'menu-logged.html' %}
<div id="tickets_header">
    <h2>Aquí aparecen los eventos para los que has comprado tickets.</h2>
</div>
<div id="container">
    <div id="content">
        <div class="event">
            <div class="eventContent" style="display: flex; flex-direction: column; justify-content: space-between;">
                <div>
                    <h4 class="name" onclick="location.href = '/event'">Pink Floyd World Tour</h4>
                    <div class="line"></div>
                </div>
                <h2 class="data" style="font-size: 1.4em; color:#545455; text-align: center;">Boletos disponibles:</h2>
                <h2 class="data" style="font-size: 1.4em; color:#545455; text-align: center;">1</h2>
                <div class="eventData">
                    <p class="data" style="font-size: 1.2em;">OCT 24 - 17:00 hrs.</p>
                    <p class="data" style="font-size: 1.2em;">México, Monterrey N.L.</p>
                </div>
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='pink.jpg') }}" alt="">
            </div>
        </div>
        <div class="event">
            <div class="eventContent" style="display: flex; flex-direction: column; justify-content: space-between;">
                <div>
                    <h4 class="name" onclick="location.href = '/event'">Andrea Bocelli</h4>
                    <div class="line"></div>
                </div>
                <h2 class="data" style="font-size: 1.4em; color:#545455; text-align: center;">Boletos disponibles:</h2>
                <h2 class="data" style="font-size: 1.4em; color:#545455; text-align: center;">3</h2>
                <div class="eventData">
                    <p class="data" style="font-size: 1.2em;">DIC 24 - 18:00 hrs.</p>
                    <p class="data" style="font-size: 1.2em;">México, Monterrey N.L.</p>
                </div>
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='art.jpg') }}" alt="">
            </div>
        </div>
    </div>
</div>
</body>