{% include 'header.html' %}
<body>
<div id="header">
    <video autoplay muted loop id="myVideo">
        <source src="{{ url_for('static', filename='sports.mp4') }}" type="video/mp4">
    </video>
</div>
{% include 'menu.html' %}
<div id="container">
    <div id="content">
        <div class="event">
            <div class="eventContent">
                <h4 class="name" onclick="location.href = '/event'">Tigres VS Rayados</h4>
                <div class="line"></div>
                <div class="eventData">
                    <p class="data">NOV 10 - 18:00 hrs.</p>
                    <p class="data">México, Monterrey N.L.</p>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut lectus non est aliquet porttitor sit amet ac justo. Donec ac ex turpis. Proin hendrerit tempor porta. Suspendisse vehicula tortor a metus feugiat aliquam. Nullam sit amet convallis quam, vitae viverra neque. Nulla facilisi. Nulla purus nisl, rutrum vitae posuere ac, vehicula varius nisi...</p>
                </div>
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='futbol.jpg') }}" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>