{% extends "layout.html" %}

{% block header %}
<div id="header">
    <video autoplay muted loop id="myVideo">
        <source src="{{ url_for('static', filename=video) }}" type="video/mp4">
    </video>
</div>
{% endblock header %}

{% block content %}
<div id="tickets_header">
    <h2>Aquí aparecen los eventos para los que has comprado tickets.</h2>
</div>
<div id="container">
    <div id="content">
        {% if tickets %}
            {% for event in events %}
                {% include "ticket.html" %}<br>
            {% endfor %}
        {% else %}
            No has comprado boletos
        {% endif %}
        
    </div>
</div>
{% endblock content %}